<% layout('/layout/boiler.ejs') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 ">

      <h3 class="heading">Edit List</h3>

      <form method="post" action="/listning/<%= listing._id %>?_method=put" enctype="multipart/form-data">

        <div class="mb-3">
          <label class="form-label">Title:</label>
          <input name="listning[title]" value="<%= listing.title %>" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Description:</label>
          <textarea name="listning[description]" class="form-control"><%= listing.description %></textarea>
        </div>

        <div class="mb-3">
          <p>Original Image:</p>
          <img src="<%= listing.image.replace('/upload/', '/upload/w_250/') %>" width="250" alt="">
        </div>

        <div class="mb-3">
          <label class="form-label">Upload New Image:</label>
          <input name="listning[image]" class="form-control" type="file">
        </div>

        <div class="row">
          <div class="col-sm-4 mb-3">
            <label class="form-label">Price:</label>
            <input name="listning[price]" class="form-control" value="<%= listing.price %>">
          </div>

          <div class="col-sm-8 mb-3">
            <label class="form-label">Country:</label>
            <input name="listning[country]" class="form-control" value="<%= listing.country %>">
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Location:</label>
          <input name="listning[location]" class="form-control" value="<%= listing.location %>">
        </div>

        <button class="btn btn-outline-primary">Edit Confirm</button>

      </form>

    </div>
  </div>
</div>